@charset "UTF-8";

html, body {
    max-width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
	height: 150%;
}

#parallax {
	background-image: url("images/blue.jpg");
	height: inherit; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#parallax2 {
	background-image: url("images/red.jpg");
	height: inherit;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#parallax3 {
	background-image: url("images/yellow.jpg");
	height: inherit; 
 	background-attachment: fixed;
 	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#parallax4 {
	background-image: url("images/green.jpg");
	height: inherit;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#navbar {
	background-color:#272626;
	padding-left:  10%;
	padding-right: 10%;
}

#navbar a {
	text-decoration: none;
	font-size: 1.5vw;
	font-family: 'Hind Guntur', sans-serif;
	font-weight: 600;
	color: snow;
	padding-left: 1%;
	padding-right: 1%;
}

#navbar img {
	height: 11%;
	width: 11%;
}

a.active {
	background-color: #5A5757;
	padding-top: 100%;
}

a:hover:not(.active) {
 	background-color: #5A5757;
	padding-top: 100%;
}

#sec1 {
	background-color: #00a4ef;
	padding-bottom: 3%;
	padding-top: 3%;
	margin-left: 10%;
	margin-right: 10%;
}

#sec2 {
	background-color: #f25022;
	padding-bottom: 3%;
	padding-top: 3%;
	margin-left: 10%;
	margin-right: 10%;
}

#sec3 {
	background-color: #ffb900;
	padding-bottom: 3%;
	padding-top: 3%;
	margin-left: 10%;
	margin-right: 10%;
}

#sec4 {
	background-color: #7fba00;
	padding-bottom: 3%;
	padding-top: 3%;
	margin-left: 10%;
	margin-right: 10%;
}

.text {
	color: snow;
	margin-left: 3%;
	margin-right: 7%;
	font-family: 'Roboto', sans-serif;
}

h2 {
	font-size: 2vw;
}

p {
	font-size:  1.3vw;
}